body {
  font-family: 'Quicksand', sans-serif;
  background-color: #C4DFDF;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

h1, h2 {
  color: #085e80;
  line-height: 35px;
  font-weight: 800;
}

p {
  color: #d1b785;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

a {
  font-size: 20px;
  color: #63C7B2;
  text-decoration: none;
}

.lewagon a:hover {
  background-color: #d7a380;
  color: white;
  border-radius: 20px;
  padding: 7px;
}

.reseau a:hover {
  background-color: #d7a380;
  color: white;
  border-radius: 20px;
  padding: 9px;
}

.skills li {
  list-style: none;
  font-size: 20px;
  margin-left: -35px;
}

.reseau li {
  color: #263D42;
  display: inline-block;
  padding: 0px 10px;
}

.skills i {
  color: black;
}

div {
  width: 600px;
  margin: 20px auto;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  background-color: white;
}

.lewagon {
  background-color: rgb(241, 117, 117);
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  div {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  div {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  div {
    width: 300px;
  }
}
